.bildgalleri img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    max-width: 200px;
    height: auto;
}

.bildgalleri{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

